Include Allow header in OPTIONS responses

Server SHOULD include such header if this is applicable (see: [RFC 2616 Section 9.2](https://tools.ietf.org/html/rfc2616#section-9.2))

Check if this is not already implemented in falcon (see: falconry/falcon#555)